In [4]:
import os
import json
from flask import (Flask, render_template, jsonify, request, redirect)
from flask_sqlalchemy import SQLAlchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy.sql import func
from pprint import pprint
from collections import Counter
import numpy as np
import plotly as plt

In [93]:
app = Flask(__name__)


app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///DataSets/belly_button_biodiversity.sqlite'

db = SQLAlchemy(app)

db.drop_all()
db.create_all()

C:\Users\jjahn\Anaconda3\envs\pythondata\lib\site-packages\flask_sqlalchemy\__init__.py:794: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [99]:
Base = automap_base()
engine = create_engine("sqlite:///DataSets/belly_button_biodiversity.sqlite")
Base.prepare(engine, reflect=True)

In [100]:
Otu = Base.classes.otu
Samples = Base.classes.samples
Samples_metadata = Base.classes.samples_metadata

In [101]:
session = Session(engine)

In [112]:
sample_keys = inspect(Samples).columns.keys()[1:]

In [128]:
sum_by_columns = session.query(Samples, func.sum(Samples.__table__.columns))
sum_by_columns.first()

InterfaceError: (sqlite3.InterfaceError) Error binding parameter 0 - probably unsupported type. [SQL: 'SELECT samples.otu_id AS samples_otu_id, samples."BB_940" AS "samples_BB_940", samples."BB_941" AS "samples_BB_941", samples."BB_943" AS "samples_BB_943", samples."BB_944" AS "samples_BB_944", samples."BB_945" AS "samples_BB_945", samples."BB_946" AS "samples_BB_946", samples."BB_947" AS "samples_BB_947", samples."BB_948" AS "samples_BB_948", samples."BB_949" AS "samples_BB_949", samples."BB_950" AS "samples_BB_950", samples."BB_952" AS "samples_BB_952", samples."BB_953" AS "samples_BB_953", samples."BB_954" AS "samples_BB_954", samples."BB_955" AS "samples_BB_955", samples."BB_956" AS "samples_BB_956", samples."BB_958" AS "samples_BB_958", samples."BB_959" AS "samples_BB_959", samples."BB_960" AS "samples_BB_960", samples."BB_961" AS "samples_BB_961", samples."BB_962" AS "samples_BB_962", samples."BB_963" AS "samples_BB_963", samples."BB_964" AS "samples_BB_964", samples."BB_966" AS "samples_BB_966", samples."BB_967" AS "samples_BB_967", samples."BB_968" AS "samples_BB_968", samples."BB_969" AS "samples_BB_969", samples."BB_970" AS "samples_BB_970", samples."BB_971" AS "samples_BB_971", samples."BB_972" AS "samples_BB_972", samples."BB_973" AS "samples_BB_973", samples."BB_974" AS "samples_BB_974", samples."BB_975" AS "samples_BB_975", samples."BB_978" AS "samples_BB_978", samples."BB_1233" AS "samples_BB_1233", samples."BB_1234" AS "samples_BB_1234", samples."BB_1235" AS "samples_BB_1235", samples."BB_1236" AS "samples_BB_1236", samples."BB_1237" AS "samples_BB_1237", samples."BB_1238" AS "samples_BB_1238", samples."BB_1242" AS "samples_BB_1242", samples."BB_1243" AS "samples_BB_1243", samples."BB_1246" AS "samples_BB_1246", samples."BB_1253" AS "samples_BB_1253", samples."BB_1254" AS "samples_BB_1254", samples."BB_1258" AS "samples_BB_1258", samples."BB_1259" AS "samples_BB_1259", samples."BB_1260" AS "samples_BB_1260", samples."BB_1264" AS "samples_BB_1264", samples."BB_1265" AS "samples_BB_1265", samples."BB_1273" AS "samples_BB_1273", samples."BB_1275" AS "samples_BB_1275", samples."BB_1276" AS "samples_BB_1276", samples."BB_1277" AS "samples_BB_1277", samples."BB_1278" AS "samples_BB_1278", samples."BB_1279" AS "samples_BB_1279", samples."BB_1280" AS "samples_BB_1280", samples."BB_1281" AS "samples_BB_1281", samples."BB_1282" AS "samples_BB_1282", samples."BB_1283" AS "samples_BB_1283", samples."BB_1284" AS "samples_BB_1284", samples."BB_1285" AS "samples_BB_1285", samples."BB_1286" AS "samples_BB_1286", samples."BB_1287" AS "samples_BB_1287", samples."BB_1288" AS "samples_BB_1288", samples."BB_1289" AS "samples_BB_1289", samples."BB_1290" AS "samples_BB_1290", samples."BB_1291" AS "samples_BB_1291", samples."BB_1292" AS "samples_BB_1292", samples."BB_1293" AS "samples_BB_1293", samples."BB_1294" AS "samples_BB_1294", samples."BB_1295" AS "samples_BB_1295", samples."BB_1296" AS "samples_BB_1296", samples."BB_1297" AS "samples_BB_1297", samples."BB_1298" AS "samples_BB_1298", samples."BB_1308" AS "samples_BB_1308", samples."BB_1309" AS "samples_BB_1309", samples."BB_1310" AS "samples_BB_1310", samples."BB_1374" AS "samples_BB_1374", samples."BB_1415" AS "samples_BB_1415", samples."BB_1439" AS "samples_BB_1439", samples."BB_1441" AS "samples_BB_1441", samples."BB_1443" AS "samples_BB_1443", samples."BB_1486" AS "samples_BB_1486", samples."BB_1487" AS "samples_BB_1487", samples."BB_1489" AS "samples_BB_1489", samples."BB_1490" AS "samples_BB_1490", samples."BB_1491" AS "samples_BB_1491", samples."BB_1494" AS "samples_BB_1494", samples."BB_1495" AS "samples_BB_1495", samples."BB_1497" AS "samples_BB_1497", samples."BB_1499" AS "samples_BB_1499", samples."BB_1500" AS "samples_BB_1500", samples."BB_1501" AS "samples_BB_1501", samples."BB_1502" AS "samples_BB_1502", samples."BB_1503" AS "samples_BB_1503", samples."BB_1504" AS "samples_BB_1504", samples."BB_1505" AS "samples_BB_1505", samples."BB_1506" AS "samples_BB_1506", samples."BB_1507" AS "samples_BB_1507", samples."BB_1508" AS "samples_BB_1508", samples."BB_1510" AS "samples_BB_1510", samples."BB_1511" AS "samples_BB_1511", samples."BB_1512" AS "samples_BB_1512", samples."BB_1513" AS "samples_BB_1513", samples."BB_1514" AS "samples_BB_1514", samples."BB_1515" AS "samples_BB_1515", samples."BB_1516" AS "samples_BB_1516", samples."BB_1517" AS "samples_BB_1517", samples."BB_1518" AS "samples_BB_1518", samples."BB_1519" AS "samples_BB_1519", samples."BB_1521" AS "samples_BB_1521", samples."BB_1524" AS "samples_BB_1524", samples."BB_1526" AS "samples_BB_1526", samples."BB_1527" AS "samples_BB_1527", samples."BB_1530" AS "samples_BB_1530", samples."BB_1531" AS "samples_BB_1531", samples."BB_1532" AS "samples_BB_1532", samples."BB_1533" AS "samples_BB_1533", samples."BB_1534" AS "samples_BB_1534", samples."BB_1535" AS "samples_BB_1535", samples."BB_1536" AS "samples_BB_1536", samples."BB_1537" AS "samples_BB_1537", samples."BB_1539" AS "samples_BB_1539", samples."BB_1540" AS "samples_BB_1540", samples."BB_1541" AS "samples_BB_1541", samples."BB_1542" AS "samples_BB_1542", samples."BB_1543" AS "samples_BB_1543", samples."BB_1544" AS "samples_BB_1544", samples."BB_1545" AS "samples_BB_1545", samples."BB_1546" AS "samples_BB_1546", samples."BB_1547" AS "samples_BB_1547", samples."BB_1548" AS "samples_BB_1548", samples."BB_1549" AS "samples_BB_1549", samples."BB_1550" AS "samples_BB_1550", samples."BB_1551" AS "samples_BB_1551", samples."BB_1552" AS "samples_BB_1552", samples."BB_1553" AS "samples_BB_1553", samples."BB_1554" AS "samples_BB_1554", samples."BB_1555" AS "samples_BB_1555", samples."BB_1556" AS "samples_BB_1556", samples."BB_1557" AS "samples_BB_1557", samples."BB_1558" AS "samples_BB_1558", samples."BB_1561" AS "samples_BB_1561", samples."BB_1562" AS "samples_BB_1562", samples."BB_1563" AS "samples_BB_1563", samples."BB_1564" AS "samples_BB_1564", samples."BB_1572" AS "samples_BB_1572", samples."BB_1573" AS "samples_BB_1573", samples."BB_1574" AS "samples_BB_1574", samples."BB_1576" AS "samples_BB_1576", samples."BB_1577" AS "samples_BB_1577", samples."BB_1581" AS "samples_BB_1581", samples."BB_1601" AS "samples_BB_1601", sum(?) AS sum_1 \nFROM samples\n LIMIT ? OFFSET ?'] [parameters: (<sqlalchemy.sql.base.ImmutableColumnCollection object at 0x00000000085F0BD0>, 1, 0)]

In [5]:
import pandas as pd

metadata_path = os.path.join('DataSets', 'Belly_Button_Biodiversity_Metadata.csv')
otu_id_path = os.path.join('DataSets', 'belly_button_biodiversity_otu_id.csv')
samples_path = os.path.join('DataSets', 'belly_button_biodiversity_samples.csv')
metadata_columns_path = os.path.join('DataSets', 'metadata_columns.csv')

metadataDF = pd.read_csv(metadata_path)
otuDF = pd.read_csv(otu_id_path)
samplesDF = pd.read_csv(samples_path)
metadataColDF = pd.read_csv(metadata_columns_path)

In [6]:
metadataDF.head()

,SAMPLEID,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,ZIP012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,940,BellyButtonsScienceOnline,Caucasian,F,24.0,2.0,I,Beaufort/NC,usa,22306,...,no,no,8852.0,37.172222,54.5,NaN,1,NaN,33.990002,25.5
1,941,NaN,Caucasian/Midleastern,F,34.0,1.0,I,Chicago/IL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,943,BellyButtonsScienceOnline,Caucasian,F,49.0,1.0,I,Omaha/NE,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,944,BellyButtonsScienceOnline,European,M,44.0,1.0,I,NewHaven/CT,usa,7079,...,no,yes,NaN,35.816666,16.0,NaN,0,6567.0,32.403332,28.5
4,945,BellyButtonsScienceOnline,Caucasian,F,48.0,1.0,I,Philidelphia/PA,usa,84404,...,no,no,NaN,37.783333,4.0,NaN,0,5613.0,33.634445,24.0

In [7]:
otuDF.head()

   otu_id                        lowest_taxonomic_unit_found
0       1  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1       2  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2       3  Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3       4  Archaea;Euryarchaeota;Methanobacteria;Methanob...
4       5  Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [8]:
samplesDF.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1562,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
otu_samples = pd.merge(samplesDF, otuDF, on='otu_id', how='outer')
otu_samples.head()

,otu_id,BB_940,BB_941,BB_943,BB_944,BB_945,BB_946,BB_947,BB_948,BB_949,...,BB_1563,BB_1564,BB_1572,BB_1573,BB_1574,BB_1576,BB_1577,BB_1581,BB_1601,lowest_taxonomic_unit_found
0,1,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,Archaea;Euryarchaeota;Halobacteria;Halobacteri...
1,2,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,Archaea;Euryarchaeota;Halobacteria;Halobacteri...
2,3,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,Archaea;Euryarchaeota;Halobacteria;Halobacteri...
3,4,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,Archaea;Euryarchaeota;Methanobacteria;Methanob...
4,5,0.0,0,0,0,0,0,0,0.0,0,...,0,0,0,0,0,0,0,0,0,Archaea;Euryarchaeota;Methanobacteria;Methanob...

In [10]:
table = pd.pivot_table(otu_samples, columns=['otu_id'], aggfunc=np.sum)
otu_sample_DF = pd.DataFrame(table.sum()).rename(columns={0:'sample values'}).sort_values('sample values', ascending=False).reset_index().head(10)
otu_sample_DF

   otu_id  sample values
0    1795        18096.0
1     922        10078.0
2     944         5876.0
3    2419         4295.0
4    1167         4244.0
5    2859         4017.0
6    2539         3875.0
7    2722         3012.0
8     482         2160.0
9     728         2049.0

In [11]:
pieData = pd.merge(otu_sample_DF, otuDF, on='otu_id', how='inner')
pieData

   otu_id  sample values                        lowest_taxonomic_unit_found
0    1795        18096.0  Bacteria;Firmicutes;Bacilli;Bacillales;Staphyl...
1     922        10078.0  Bacteria;Actinobacteria;Actinobacteria;Actinom...
2     944         5876.0  Bacteria;Actinobacteria;Actinobacteria;Actinom...
3    2419         4295.0  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
4    1167         4244.0  Bacteria;Bacteroidetes;Bacteroidia;Bacteroidal...
5    2859         4017.0  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
6    2539         3875.0  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
7    2722         3012.0  Bacteria;Firmicutes;Clostridia;Clostridiales;I...
8     482         2160.0                                           Bacteria
9     728         2049.0  Bacteria;Actinobacteria;Actinobacteria;Actinom...

In [16]:
[list(pieData['otu_id'])]

[[1795, 922, 944, 2419, 1167, 2859, 2539, 2722, 482, 728]]

In [261]:
pieData.to_json(orient='records')

'[{"otu_id":1795,"sample values":18096.0,"lowest_taxonomic_unit_found":"Bacteria;Firmicutes;Bacilli;Bacillales;Staphylococcaceae;Staphylococcus"},{"otu_id":922,"sample values":10078.0,"lowest_taxonomic_unit_found":"Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium"},{"otu_id":944,"sample values":5876.0,"lowest_taxonomic_unit_found":"Bacteria;Actinobacteria;Actinobacteria;Actinomycetales;Corynebacteriaceae;Corynebacterium"},{"otu_id":2419,"sample values":4295.0,"lowest_taxonomic_unit_found":"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus"},{"otu_id":1167,"sample values":4244.0,"lowest_taxonomic_unit_found":"Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales;Porphyromonadaceae;Porphyromonas"},{"otu_id":2859,"sample values":4017.0,"lowest_taxonomic_unit_found":"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Peptoniphilus"},{"otu_id":2539,"sample values":3875.0,"lowest_taxonomic_unit_found":"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Anaerococcus"},{"otu_id":2722,"sample values":3012.0,"lowest_taxonomic_unit_found":"Bacteria;Firmicutes;Clostridia;Clostridiales;IncertaeSedisXI;Finegoldia"},{"otu_id":482,"sample values":2160.0,"lowest_taxonomic_unit_found":"Bacteria"},{"otu_id":728,"sample values":2049.0,"lowest_taxonomic_unit_found":"Bacteria;Actinobacteria;Actinobacteria;Actinomycetales"}]'

In [205]:
samples2 = pd.DataFrame(samplesDF.sum()[1:]).reset_index().rename(columns={'index':'SAMPLEID', 0:"sample_value"}).sort_values('sample_value', ascending=False)

In [210]:
def most_common(lst):
    return max(set(lst), key=lst.count)

In [221]:
# df.loc[df['column_name'] == some_value]
BB_940 = samplesDF['BB_940']
OTU_desc = otuDF['lowest_taxonomic_unit_found']
otu_list = []

for sample in range(len(BB_940)):
    if (BB_940[sample] != 0):
        otu_list.append(OTU_desc[sample])

print(list(set(otu_list))[0])

Bacteria;Bacteroidetes;Bacteroidia;Bacteroidales

In [207]:
samples2['SAMPLEID'] = samples2['SAMPLEID'].str.replace('BB_', '').astype(int)
samples2.head()

    SAMPLEID  sample_value
30       974        2536.0
5        946        2506.0
41      1246        2115.0
32       978        1797.0
6        947        1678.0

In [208]:
samples10 = pd.merge(samples2, metadataDF, on="SAMPLEID", how="outer").head(10)
samples10

,SAMPLEID,sample_value,EVENT,ETHNICITY,GENDER,AGE,WFREQ,BBTYPE,LOCATION,COUNTRY012,...,DOG,CAT,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,IMPSURFACE1319,NPP1319,MMAXTEMP1319,PFC1319
0,974,2536.0,BellyButtonsScienceOnline,Caucasian,F,57.0,NaN,I,Raleigh/NC,usa,...,no,no,4949.0,29.612223,57.0,NaN,74,NaN,31.567778,14.0
1,946,2506.0,BellyButtonsScienceOnline,Caucasian,F,42.0,3.0,I,Deerfield/MA,usa,...,no,yes,NaN,34.761112,15.5,NaN,0,6273.0,29.403334,67.5
2,1246,2115.0,BellyButtonsMuseum2,Caucasian,F,2.0,7.0,NaN,"Atlanta,GA",usa,...,yes,no,7949.0,26.730000,76.5,NaN,NaN,NaN,NaN,NaN
3,978,1797.0,BellyButtonsDarwinDay,Hispanic,F,21.0,NaN,NaN,Durham/NC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,947,1678.0,BellyButtonsScienceOnline,Caucasian,M,49.0,6.0,I,ChapelHill/NC,usa,...,no,yes,7491.0,30.356667,31.0,NaN,0,5357.0,30.881111,16.5
5,1534,1655.0,BellyButtonsWildLives,Caucasian,F,42.0,0.0,I,NC,usa,...,yes,no,6843.0,34.341110,10.0,NaN,15,5081.0,43.458889,4.5
6,1558,1628.0,BellyButtonsWildLives,Caucasian,M,26.0,1.0,I,NC,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1521,1569.0,BellyButtonsWildLives,Caucasian,F,10.0,0.0,I,NC,usa,...,yes,yes,6687.0,26.361111,73.5,NaN,NaN,NaN,NaN,NaN
8,1237,1545.0,BellyButtonsMuseum2,Caucasian,F,9.0,2.0,i,"ChapelHill,NC",usa,...,yes,no,6832.0,29.581112,45.0,NaN,NaN,NaN,NaN,NaN
9,1242,1528.0,BellyButtonsMuseum2,Caucasian,F,44.0,1.0,i,"Raleigh,NC",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
otu_list = []
for row in samples10:
    row[0] = row[0].replace('BB_','')

TypeError: 'str' object does not support item assignment

In [46]:
metadataColDF

            COLUMN     TYPE                                        DESCRIPTION
0         SAMPLEID  INTEGER                                          sample_id
1            EVENT     TEXT                                  Collection event
2        ETHNICITY     TEXT                                          Ethnicity
3           GENDER     TEXT                               Gender (male/female)
4              AGE  INTEGER                                     Age (in years)
5            WFREQ  INTEGER   Washing Frequency (belly button scrubs per week)
6           BBTYPE     TEXT                                   Innie or Outtie?
7         LOCATION     TEXT  City and State in which participant lived at t...
8       COUNTRY012     TEXT  Country in which participant lived from age 0 ...
9           ZIP012  INTEGER  Zip code in which participant lived from age 0...
10     COUNTRY1319     TEXT  Country in which participant lived from age 13...
11         ZIP1319  INTEGER  Zip code in which participant lived from age 1...
12             DOG     TEXT      Do you Currently Live with a Dog (yes or no)?
13             CAT     TEXT      Do you Currently Live with a Cat (yes or no)?
14   IMPSURFACE013  INTEGER  Impervious surface (such as cement) in center ...
15          NPP013    FLOAT  Net Primary Productivity in center of zipcode ...
16     MMAXTEMP013    FLOAT  Mean maximum monthly temperature in center of ...
17          PFC013    FLOAT  Percent Forest Cover in center of zipcode wher...
18  IMPSURFACE1319  INTEGER  Impervious surface (such as cement) in center ...
19         NPP1319    FLOAT  Net Primary Productivity Impervious surface (s...
20    MMAXTEMP1319    FLOAT  Mean maximum monthly temperaturein center of z...
21         PFC1319    FLOAT  Percent Forest Cover in center of zipcode wher...

In [47]:
# // // Part 5 - Working Pie Chart
# // var trace1 = {
# //   labels: ["beer", "wine", "martini", "margarita",
# //       "ice tea", "rum & coke", "mai tai", "gin & tonic"],
# //   values: [22.7, 17.1, 9.9, 8.7, 7.2, 6.1, 6.0, 4.6],
# //   type: 'pie'
# // };

# // var data = [trace1];

# // var layout = {
# //   title: "'Bar' Chart",
# // };

# // Plotly.newPlot("plot", data, layout);

In [77]:
pd.DataFrame(metadataDF.groupby('BBTYPE').sum())

,SAMPLEID,AGE,WFREQ,IMPSURFACE013,NPP013,MMAXTEMP013,PFC013,NPP1319,MMAXTEMP1319,PFC1319
BBTYPE,,,,,,,,,,
Both,2580,90.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
I,161938,4328.0,279.5,219081.0,2330.170000,1801.0,NaN,240873.0,2255.396668,1802.0
O,2555,94.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unknown,1415,NaN,NaN,6828.0,32.558887,44.0,NaN,4959.0,31.814444,22.5
i,15487,409.0,27.0,21075.0,197.200005,166.5,NaN,11219.0,132.059999,89.5
o,5675,96.0,19.0,NaN,31.730000,22.5,NaN,9523.0,27.645556,63.0